<!DOCTYPE html>
<html lang="en">

    <head>
        <title>geoScope</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">geoScope</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('upload') }}">Upload Image</a></li>
                <li><a href="{{ url_for('search') }}">Search Image</a></li>
            </ul>
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!--
    <footer class="page-footer font-small blue pt-4">
        <p class="text-center">
            < /> with <span class="glyphicon glyphicon-heart"></span> at geoScope
        </p>
    </footer> -->

</html>